{% extends "base.html" %}
{% load static %}

{% block title %} {{ project.title}} {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "assignment2_app/projectDetails.css"%}">
{% endblock %}


{% block content %}
<section class="section">
    <div class="container">
        <h1 class="container__heading">Research Topic</h1>
        <div class="project">
            <h2 class="project__heading">{{ project.title }}</h2>
            <p><strong>Category:</strong> {{ project.category }}</p>
            <p><strong>Topic Number:</strong> {{ project.topic_num }}</p>
            <p><strong>Thesis Supervisor:</strong> {{ project.supervisor }}</p>
            <p><strong>Locations:</strong> {{ project.location }}</p>
            <p><strong>Fields:</strong> {{ project.fields }}</p>
            <p><strong>Description: </strong>  {{ project.description|linebreaks }}</p>
        </div>
    </div>
</section>
{% endblock content %}