
{% extends "base.html" %}
{% load static %}

{% block title %} Project List {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "assignment_4_app/projectList.css"%}">
{% endblock %}

{% block content %}
<div class="search-container">
    <form action="{% url "search" %}" method="POST">
        {% csrf_token %}
        <input type="search" placeholder="Search thesis" name="searched" class="search-bar">
        <button type="submit" class="search-button"><img src="{% static "assignment_4_app/img/search-icon.png" %}" alt="Search icon"></button>
    </form>
</div>

<div class="container">
    <h1 class="research-topics-title">Research Topics</h1>
    {% for project in projects %}
        {% include "assignment_4_app/includes/project.html" %}
    {% endfor %}
</div>


{% endblock content %}