{% extends "base.html" %}
{% load static %}

{% block title %} Searched {% endblock %}

{% block css_files %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static "assignment_4_app/search.css"%}"> {% endcomment %}
{% endblock %}


{% block content %}

<section>
{% if searched %}
    <h1>You searched for {{ searched }}</h1>

    {% if projects %}
        {% for project in projects %}
            <a class="link" href="{% url "project-details" project.topic_num %}">
                {{ project }}
            </a>
        {% endfor %}
    {% else %}
        Not found
    {% endif %}

{% else %}
    <h1>No project thesis was searched.</h1>
{% endif %}
</section>

{% endblock content %}