
{% extends "base.html" %}
{% load static %}

{% block title %} Manage Project Theses {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "management/management_addProject.css"%}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="research-topics-title">Manage Thesis</h1>
    {% if submitted  %}
        <p class="add-success">Project Submitted Successfully!</p>
        <p class="link-container"><a class="link__add-project" href="{% url "add-project" %}">add another thesis &#187;</a></p>
        <p class="link-container"><a class="link__homepage" href="{% url "manage-project" %}">return to manage project &#187;</a></p>
        
    {% else %}
        <form class="add-form" action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="submit" class="btn btn-submit">
        </form>

        <a class="link-return" href="{% url "manage-project" %}">return to manage project &#187;</a>
    {% endif %}
</div>
{% endblock content %}