
{% extends "base.html" %}
{% load static %}

{% block title %} Manage Project Theses {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "assignment_4_app/manageProject.css"%}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="research-topics-title">Manage Theses</h1>
    {% if submitted  %}
        <p>Project Submitted Successfully!</p>
        <a href="{% url "manage-project" %}">return to manage project</a>
        <a href="{% url "add-project" %}">add another thesis</a>
        
    {% else %}
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="submit" class="btn btn-submit">
        </form>

        <a href="{% url "manage-project" %}">return to manage project</a>
    {% endif %}
</div>
{% endblock content %}