
{% extends "management/management_base.html" %}
{% load static %}

{% block title %} Project requests {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "management/management_project_pending.css"%}">
{% endblock %}

{% block content %}
{% if project_requests %}
    {% if user.is_authenticated %}
        {% if user.user_type == "unit_coordinator" %}
            {% for request in project_requests %}
                <div class="project">
                    <h2 class="project__heading">{{ request.title }}</h2>
                    <p class="project__paragraph"><strong>Category:</strong>
                        {% if request.category.exists %}
                            {% for category in request.category.all %}
                                {{ category.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    <p class="project__paragraph"><strong>Topic Number:</strong> {{ request.topic_num }}</p>
                    <p class="project__paragraph"><strong>Thesis Supervisor:</strong> {{ request.supervisor.first_name }} {{ request.supervisor.last_name }}</p>
                    <p class="project__paragraph"><strong>Locations:</strong>
                        {% if request.location.exists %}
                            {% for location in request.location.all %}
                                {{ location.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    <p class="project__paragraph"><strong>Fields:</strong>
                        {% if request.research_areas.exists %}
                            {% for research_area in request.research_areas.all %}
                                {{ research_area.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    <p class="project__paragraph"><strong>Description: </strong> {{ request.description|linebreaks }}</p>
                </div>
                
                <a class="update-pending-request" href="{% url "update-pending-project" request.topic_num %}">Update pending request</a>
                <a class="delete-pending-request" href="{% url "delete-pending-project" request.topic_num %}">Delete pending request</a>
                <a class="approve-pending" href="{% url "approve-project-request" request.topic_num %}">Approve</a>
                <a class="reject-pending" href="{% url "reject-project-request" request.topic_num %}">Reject</a>
                <br>
                <br>
                <br>
            {% endfor %}
        {% endif %}
        {% if user.user_type == "supervisor" %}
            {% for request in project_requests %}
                <div class="project">
                    <h2 class="project__heading">{{ request.title }}</h2>
                    <p class="project__paragraph"><strong>Category:</strong>
                        {% if request.category.exists %}
                            {% for category in request.category.all %}
                                {{ category.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    <p class="project__paragraph"><strong>Topic Number:</strong> {{ request.topic_num }}</p>
                    <p class="project__paragraph"><strong>Thesis Supervisor:</strong> {{ request.supervisor.first_name }} {{ request.supervisor.last_name }}</p>
                    <p class="project__paragraph"><strong>Locations:</strong>
                        {% if request.location.exists %}
                            {% for location in request.location.all %}
                                {{ location.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    <p class="project__paragraph"><strong>Fields:</strong>
                        {% if request.research_areas.exists %}
                            {% for research_area in request.research_areas.all %}
                                {{ research_area.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    <p class="project__paragraph project__paragraph--description"><strong>Description: </strong> {{ request.description|linebreaks }}</p>
                    <br>
                    {% if user == request.supervisor  %}
                        <a class="update-pending-request" href="{% url "update-pending-project" request.topic_num %}">Update pending request</a>
                        <a class="delete-pending-request" href="{% url "delete-pending-project" request.topic_num %}">Delete pending request</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% else %}
    <h2>There are currently no project pendings!</h2>
{% endif %}
<p class="container__link-return"><a class="link-return" href="{% url "management-index" %}">return home &#187;</a></p>
{% endblock content %}