{% extends "management/management_base.html" %}
{% load static %}

{% block title %} Management {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "management/management_index.css"%}">
{% endblock %}


{% block content %}

<div class="main2">

{% if user.is_authenticated %}
    {% if user.user_type == 'unit_coordinator' or user.user_type == "supervisor" %}
        <!-- Content for unit coordinators -->
        <p>Welcome back, {{ user.first_name }} {{ user.last_name }}</p>
        <section class="title">
            <h1>Management and Administration</h1>
        </section>
         
        <section class="section--thesis-management">
             {% comment %} Where CRUD functionality will be used {% endcomment %}
            <a href="{% url "manage-project" %}">
                Manage projects
            </a>
        </section>
         
        <section class="section--pending">
             {% comment %} forms for student application pending approval {% endcomment %}
             
             <a href="{% url "project-pendings" %}">
                 Section Pending
            </a>
        </section>
         

            
            {% if user.is_authenticated %}
                {% if user.user_type == "unit_coordinator" %}
                    <section class="section--user-management">
                        {% comment %} display a list of all users {% endcomment %}
                        User management
                    </section>

                    <section class="section--student-management">
                        {% comment %} list all students {% endcomment %}
                        Student management
                    </section>
                {% endif %}
            {% endif %}

        {% else %}
            <!-- Default content for other user types or handle appropriately -->
            <p>You don't have permission to view this page.</p>
        {% endif %}
    {% else %}
        <!-- Content for non-authenticated users -->
        <p>Please log in to view this page.</p>
    {% endif %}

</div>

{% endblock content %}