
{% extends "management/management_base.html" %}
{% load static %}

{% block title %} Management {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "management_project.css"%}">
{% endblock %}

{% block content %}


{% if user.is_authenticated  %}
    {% if user.user_type == "unit_coordinator" or user.user_type == "supervisor" %}
        <a href="{% url "project-csv" %}">Download all thesis topics</a>
        <section class="add">
            <h1>Adding Thesis</h1>
            <a href="{% url "add-project" %}">Add a thesis</a>
        </section>
        <section class="unit_coordinator">
            <h1 class="container__heading">Research Topic</h1>
            {% for project in projects %}
                <section class="section">
                    <div class="container">
                        <div class="project">
                            <h2 class="project__heading">{{ project.title }}</h2>
                            <p><strong>Category:</strong>
                                {% for category in project.category.all %}
                                    {{ category.name }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p><strong>Topic Number:</strong> {{ project.topic_num }}</p>
                            <p><strong>Thesis Supervisor:</strong> {{ project.supervisor.first_name }} {{ project.supervisor.last_name }}</p>
                            <p><strong>Locations:</strong>
                                {% for location in project.location.all %}
                                    {{ location.name }}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                    None
                                {% endfor %}
                                </p>
                                
                                <p><strong>Fields:</strong>
                                {% for research_area in project.research_areas.all %}
                                    {{ research_area.name }}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                    None
                                {% endfor %}
                                </p>
                            <p><strong>Description: </strong> {{ project.description|linebreaks }}</p>
                        </div>
                    </div>
                </section>
                {% if user.is_authenticated %}
                    {% if user.user_type == "unit_coordinator" or user == project.supervisor %}
                        <section class="section">
                            <a class="link" href="{% url 'update-project' project.topic_num %}"> Update </a>
                            <a class="link" href="{% url 'delete-project' project.topic_num %}"> Delete thesis </a>
                        </section>
                    {% endif %}
                {% endif %}

            {% endfor %}
        </section>
    {% endif %}
{% endif %}


{% endblock content %}


