
{% extends "base.html" %}
{% load static %}

{% block title %} Update Project Theses {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "management/management_updateProject.css"%}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.user_type == "unit_coordinator" or user == project.supervisor %}
        <div class="container">
            <h1>Update</h1>
            <form class="form" action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
        
                <input type="submit" vsalue="update">
            </form>
        </div>

        {% comment %} {{ user.user_type }}
        {{ project.supervisor }}
        {{ user }} {% endcomment %}
    {% else %}
        <h1>Only the supervisor of this project or admin can update this project </h1>
    {% endif %}
{% endif %}

{% endblock content %}