{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "app.css"%}">
    <title>{% block title %}{% endblock %}</title>
    {% block  css_files %}{% endblock %}
</head>
<body>

    <main class="main">
        {% block content %} 
        
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        
        {% endblock content %}
    </main>


</body>
</html>