{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "assignment_4_app/app.css"%}">
    <title>{% block title %}{% endblock %}</title>
    {% block  css_files %}{% endblock %}
</head>
<body>
    <header class="header">
        <a class="link" href="{% url 'home' %}">
            <div class="header__logo">
                <img class="header__img" src="{% static "img/CDU-logo2.png" %}" alt="Group 11 Logo">
                <div>GROUP 11</div>
            </div>
        </a>
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item"><a class="link" href="{% url 'project-list' %}">Projects</a></li>
                <li class="navigation__item"><a class="link" href="#">Apply now</a></li>
                {% if user.is_authenticated %}
                    <li class="navigation__item"><a class="link" href="{% url "account-logout" %}">Logout</a></li>
                {% else %}
                    <li class="navigation__item"><a class="link" href="{% url "account-login" %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="main">
        {% block content %} 
        
        {% endblock content %}
    </main>


    <footer class="footer">
        <div class="first">
            <div class="container">
                <h2>UNIVERSITY</h2>
                <br>
                <ul>
                    <li><strong>Address:</strong> [University Address, City, State, Postcode]</li>
                    <li><strong>Phone:</strong> [Main University Phone Number]</li>
                    <li><strong>Email:</strong> info@university.edu</li>
                </ul>
            </div>
            <div class="container">
                <h3>LEGAL AND COMPLIANCE</h3>
                <ul>
                    <li><a href="#"><strong>Privacy Policy</strong></a></li>
                    <li><a href="#"><strong>Terms of Use</strong></a></li>
                    <li><a href="#"><strong>Accessibility</strong></a></li>
                    <li><a href="#"><strong>Non-Discrimination Policy</strong></a></li>
                </ul>
            </div>
            <div class="container">
                <h3>QUICK LINKS</h3>
                <li><a href="#"><strong>Admissions</strong></a></li>
                <li><a href="#"><strong>Academics</strong></a></li>
                <li><a href="#"><strong>Campus life</strong></a></li>
                <li class="navigation__item"><strong><a class="link" href="{% url 'about' %}">About us</a></strong></li>
            </div>
        </div>
        <div class="social-links">
            <a href="#"><img src="../static/assignment_4_app/img/facebook-white-logo.webp" alt="Facebook icon"></a>
            <a href="#"><img src="../static/assignment_4_app/img/instagram-white-logo.webp" alt="Instagram icon"></a>
            <a href="#"><img src="../static/assignment_4_app/img/youtube-white-logo.webp" alt="Youtube icon"></a>
            <a href="#"><img src="../static/assignment_4_app/img/linkedin-white-logo.webp" alt="Linkedin icon"></a>
        </div>
        <div class="accredition">
            <strong><p>&copy; GROUP 11</p></strong>
        </div>
    </footer>
</body>
</html>