:root {
    --color-primary: #3c558b;
    --color-secondary: white;
    --color-dark-blue: #1c0e45;
    --color-grey: #eff0f8;
    --color-text-dark: #182620;
}

.section {
    background-color: var(--color-secondary);
}

.main {
    width: 100%;
    height: auto;
}

.download-csv {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #1c1041;
    color: white;
}
.download-csv:hover {
    filter: brightness(1.2);
}

.add {
    margin-top: 4rem;
}

.add > h1 {
    margin-bottom: 2rem;
}

.add > a {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #1c1041;
    color: white;
}

.add > a:hover {
    filter: brightness(1.2);
}


.unit_coordinator {
    margin-top: 4rem;
}

.unit_coordinator > h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.container {

}

.section {
    padding: 2rem;
}

.section__link {
    height: 4rem;
    padding: .5rem 2rem;
    background-color: white;
}

.project {
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 5px;
}

section > .link {
    padding: 1rem 2rem;
    border-radius: 5px;
}

.link__update {
    background-color: lightgreen;
    margin-right: 1rem;
}

.link__delete {
    background-color: lightcoral;
}

