.project {
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.link-return {
    font-size: 1.4rem;
    border-bottom: 2px solid;
}

.project__heading {
    margin-bottom: 1rem;
}

p {
    margin-bottom: .5rem;
}


.container__link-return {
    margin-top: 2rem;
}

.update-pending-request,
.delete-pending-request,
.approve-pending,
.reject-pending {
    margin-right: .5rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: black;
    border: none;
}

.update-pending-request,
.approve-pending {
    background-color: lightgreen;
}

.reject-pending,
.delete-pending-request {
    background-color: lightcoral;
}