:root {
    --color-primary: #3C558B;
    --color-secondary: white;
    --color-dark-blue: #1c0e45;
    --color-grey: #eff0f8;
    --color-text-dark: #182620;
}

html {
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%)
}

.main2 {
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    gap: 30px 0px;

}

img {
    width: 600px;
    height: 600px;
}

form {
    background-color: var(--color-grey);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px; 
    padding: 30px;
}

.inputs div {
    display: flex;
    flex-direction: column;
    gap: 10pxpx;
}

.submit {
    border: none;
    padding: 10px;
    border-radius: 15px;
    width: 25%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    background-color: rgb(25, 25, 67);
    color: var(--color-secondary);
}
.submit:hover {
    background-color: var(--color-secondary);
    color: #191943;
}

.login,
.pass {
    width: 385px;
    height: 30px;
}